@font-face {
    font-family: 'kanitlight';
    src: url('kanit-light-webfont.woff2') format('woff2'),
         url('kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitmedium';
    src: url('kanit-medium-webfont.woff2') format('woff2'),
         url('kanit-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitsemibold';
    src: url('kanit-semibold-webfont.woff2') format('woff2'),
         url('kanit-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kanitregular';
    src: url('kanit-regular-webfont.woff2') format('woff2'),
         url('kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@media screen and (max-width: 320px){
    h4{font-size: 16px;}

    h5{font-size: 11px;}

    p{font-size: 14px;}
}

@media screen and (min-width: 1200px){
    .h3{font-size: 19px;}
    .h4{font-size: 18px;}
    .h5{font-size: 13px;}
    h6 ,.h6{
        font-size: 12px;
        margin: 0 !important;
    }
    .p{font-size: 16px;}

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
    .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
        padding:0 !important;
    }

    .modal-open{
        overflow: auto;
    }
    

}